WebAppClientAE016/Web References/WSClientAE016/WS_Client_Invoice_AE016.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WS_Client_Invoice_AE016/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WS_Client_Invoice_AE016/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WS_Client_Invoice_AE016/">
      <s:element name="Customers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Adress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NIE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Opc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CustomersSoapIn">
    <wsdl:part name="parameters" element="tns:Customers" />
  </wsdl:message>
  <wsdl:message name="CustomersSoapOut">
    <wsdl:part name="parameters" element="tns:CustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_Client_Invoice_AE016Soap">
    <wsdl:operation name="Customers">
      <wsdl:input message="tns:CustomersSoapIn" />
      <wsdl:output message="tns:CustomersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_Client_Invoice_AE016Soap" type="tns:WS_Client_Invoice_AE016Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Customers">
      <soap:operation soapAction="http://WS_Client_Invoice_AE016/Customers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Client_Invoice_AE016Soap12" type="tns:WS_Client_Invoice_AE016Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Customers">
      <soap12:operation soapAction="http://WS_Client_Invoice_AE016/Customers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Client_Invoice_AE016">
    <wsdl:port name="WS_Client_Invoice_AE016Soap" binding="tns:WS_Client_Invoice_AE016Soap">
      <soap:address location="http://localhost:61710/WS_Client_Invoice_AE016.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Client_Invoice_AE016Soap12" binding="tns:WS_Client_Invoice_AE016Soap12">
      <soap12:address location="http://localhost:61710/WS_Client_Invoice_AE016.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>